# ==============================
# MOT DE PASSE ADMINISTRATEUR
# ==============================
# Remplace uniquement le texte après le = par TON mot de passe.
# Exemple :
# ADMIN_PASSWORD=MonMotDePasseTresFort!2026

ADMIN_PASSWORD=ECRIS_TON_MOT_DE_PASSE_ICI
